<template>
    <header class="header">
        <h1>{{ taskListName }}</h1>
        <input class="new-todo" placeholder="Task name..." autofocus v-model="taskItem" @keyup.enter="addTodoItem">
    </header>
</template>

<script>
export default {
  name: 'tasklist-header',

  data() {
    return {
      taskItem: '',
      taskListName: this.$route.query.name
    }
  },

  methods: {
    addTodoItem() {
      if (this.taskItem && this.taskItem.trim()) {
        const taskItemPayload = {
          listId: this.$route.query.id,
          name: this.taskItem
        };

        this.$store.dispatch('addTaskItem', taskItemPayload);
        this.taskItem = ''
      }
    }
  }
}
</script>