.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.underline {
    text-decoration: underline;
}

.greeting-text {
    font-size: 28px;
}

.link-to-list {
    text-decoration: none;
    font-size: 22px;
}

.tasks-list-wrapper {
    display: flex;
    justify-content: space-between;
}

.editTask {
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pointer {
    cursor: pointer;
}