<template>
    <section class="todoapp">
        <tasklist-header />
        <div class="main" v-if="taskList.length">
            <ul class="todo-list">
                <li v-for="task in taskList" :class="{'completed': task.completed}">
                    <div class="view">
                        <input class="toggle pointer" type="checkbox" v-model="task.completed">
                        <label for="taskItem" @dblclick="editTaskItem(task)">{{ task.name }}</label>
                        <input id="taskItem" class="editTask"
                               v-show="editMode && task === editedTask"
                               v-model="task.name"
                               v-task-focus="task === editedTask"
                               @keyup.enter="doneEdit(task)"
                               @keyup.esc="cancelEdit(task)">
                        <button class="destroy pointer" @click="removeTaskItem(task)"></button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
import TaskListHeader from '~/components/tasklist-header'

export default {
  data() {
    return {
      editMode: false,
      editedTask: null
    }
  },
  components: {
    'tasklist-header': TaskListHeader
  },
  computed: {
    taskList() {
      const taskListId = this.$route.query.id;
      return this.$store.getters.getAllTasks(taskListId)
    }
  },
  methods: {
    removeTaskItem(taskItem) {
      this.$store.dispatch('removeTaskItem', taskItem)
    },
    editTaskItem(taskItem) {
      this.editMode = true;
      this.currentItemValue = taskItem.name;
      this.editedTask = taskItem
    },
    doneEdit(taskItem) {
      this.editedTask = null;
      this.editMode = false;
      taskItem.name = taskItem.name.trim();
      if (taskItem.name) {
        this.$store.dispatch('editTaskItem', taskItem)
      } else {
        this.removeTaskItem(taskItem)
      }
    },
    cancelEdit(taskItem) {
      this.editedTask = null;
      this.editMode = false;
      taskItem.name = this.currentItemValue
    }
  },
  directives: {
    'task-focus' (element, binding) {
      binding.value && element.focus()
    }
  }
}
</script>