<template>
    <div class="container">
        <div>
            <p class="greeting-text underline">Welcome to the Task list application</p>
            <p v-if="!allTaskLists.length" class="greeting-text">Please create list:</p>
            <div class="task-lists-wrapper">
                <input class="new-todo" type="text"
                       placeholder="Task list name..."
                       autofocus v-model="taskListName" @keyup.enter="createNewTaskList">
                <ul class="todo-list">
                    <li v-for="taskList of allTaskLists">
                        <label for="taskList" class="pointer" @dblclick="editTaskList(taskList)">
                            <NLink class="link-to-list"
                                   :to="{path: 'list-details',
                                         params: { id: taskList.id },
                                         query: { name: taskList.name, id: taskList.id } }">
                                {{ taskList.name }}
                            </NLink>
                        </label>
                        <input id="taskList" class="editTask"
                               v-show="editMode && taskList === editedList"
                               v-model="taskList.name"
                               v-task-list-focus="taskList === editedList"
                               @keyup.enter="doneEdit(taskList)"
                               @keyup.esc="cancelEdit(taskList)">
                        <button class="destroy pointer" @click="removeTaskList(taskList)"></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      taskListName: '',
      editMode: false,
      editedList: null
    }
  },
  computed: {
    allTaskLists() {
      return this.$store.getters.getAllTaskLists
    }
  },
  methods: {
    createNewTaskList() {
      const listName = this.taskListName;

      if (listName && listName.trim()) {
        this.$store.dispatch('createTasksList', listName);
        this.taskListName = ''
      }
    },
    removeTaskList(taskList) {
      this.$store.dispatch('removeTaskList', taskList)
    },
    editTaskList(taskList) {
      this.editMode = true;
      this.currentListValue = taskList.name;
      this.editedList = taskList
    },
    doneEdit(taskList) {
      this.editedList = null;
      this.editMode = false;
      taskList.name = taskList.name.trim();
      if (taskList.name) {
        this.$store.dispatch('editTaskList', taskList)
      } else {
        this.removeTaskList(taskList)
      }
    },
    cancelEdit(taskList) {
      this.editedList = null;
      this.editMode = false;
      taskList.name = this.currentListValue
    }
  },
  directives: {
    'task-list-focus' (element, binding) {
      binding.value && element.focus()
    }
  }
}
</script>